.game {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.feedback {
  height: 2.5em;
  margin: 0.5em;
  text-align: center;
}

.score-time {
  width: 100%;
  text-align: center;
  display: flex;
  margin: 0.5em;
  justify-content: space-around;
}

.mixed-color {
  background-color: green;
  width: 42vh;
  height: 10vh;
  margin: 1.5vh auto;
}

.play-color-row {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.play-color {
  -ms-touch-action: none;
  touch-action: none;
  display: inline-block;
  background-color: red;
  width: 20vh;
  height: 20vh;
  margin: 0.5vh;
  position: relative;
}

@media (min-width: 425px) {
  .mixed-color {
    width: 56vh;
  }
  .play-color {
    width: 27vh;
    height: 27vh;
  }
}

@media (min-width: 565px) {
  .mixed-color {
    width: 64vh;
  }
  .play-color {
    width: 31vh;
    height: 31vh;
  }
}

@media (min-width: 640px) {
  .mixed-color {
    width: 68vh;
  }
  .play-color {
    width: 33vh;
    height: 33vh;
  }
}

