.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 1em;
}

.mixed-color {
  background-color: green;
  width: 62vh;
  height: 30vh;
}

.play-color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center
}

.play-color {
  -ms-touch-action: none;
  touch-action: none;
  background-color: red;
  width: 30vh;
  height: 30vh;
  margin: 1vh;
}

/* @media (min-width: 425px) {
  .mixed-color {
    width: 22em;
  }
  .play-color {
    width: 10em;
    height: 10em;
  }
} */

/* @media (min-width: 768px) {
  .mixed-color {
    width: 32em;
  }
  .play-color {
    width: 15em;
    height: 15em;
  }
}

@media (min-width: 1024px) {
  .mixed-color {
    width: 42em;
  }
  .play-color {
    width: 20em;
    height: 20em;
  }
}

@media (min-width: 1440px) {
  .mixed-color {
    width: 60em;
  }
  .play-color {
    width: 29em;
    height: 29em;
  }
} */