.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.score-time {
  width: 100%;
  text-align: center;
  display: flex;
  margin: 1em 7em 1em 7em;
  justify-content: space-around;
}

.mixed-color {
  background-color: green;
  width: 42vh;
  height: 20vh;
}

.play-color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center
}

.play-color {
  -ms-touch-action: none;
  touch-action: none;
  background-color: red;
  width: 20vh;
  height: 20vh;
  margin: 1vh;
}

@media (min-width: 425px) {
  .mixed-color {
    width: 56vh;
  }
  .play-color {
    width: 27vh;
    height: 27vh;
  }
}

@media (min-width: 565px) {
  .mixed-color {
    width: 64vh;
  }
  .play-color {
    width: 31vh;
    height: 31vh;
  }
}

@media (min-width: 640px) {
  .mixed-color {
    width: 68vh;
  }
  .play-color {
    width: 33vh;
    height: 33vh;
  }
}

