.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em auto;
  max-width: 30em;
  border: solid 0.3em var(--dk-blue);
}

.hide-form {
  display: none;
}

.login-email, .login-password {
  margin: 1em;
  outline: solid 0.1em var(--dk-blue);
  font-size: 1.25rem;
}

.submit {
  margin: 1em;
  padding: 0.3em 0.6em;
  font-size: 1.25rem;
  color: #FFF;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background: var(--dk-blue);
}
