.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  width: 15em;
  border: solid 0.3em black;
  padding: 1em;
  box-sizing: border-box;
}

.login-message {
  margin: 0 0.5em 0.5em;
  display: block;
  font-size: 1.25rem;
}

.login-email, .login-password {
  margin: 0.5em 1em;
  outline: solid 0.1em black;
  font-size: 1.25rem;
  padding: 0.2em;
}

.create-button, .login-button {
  margin: 0.5em 0.5em 0;
  padding: 0.3em 0.6em;
  font-size: 1.25rem;
  color: #FFF;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background: black;
}
