html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --dk-blue: rgb(84, 84, 145);
  --dark-gray: #d6d6d6;
  --medium-gray: #eaebed;
  --light-gray: #f7f8f9;
  --red: #FF4136;
  --yellow: #FFDC00;
  --green: #2ECC40;
  --blue: #0074D9;
  --purple: #B10DC9;
}

.title {
  color: black;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  padding: 0.3em;
}

.red-letter:hover {
  color: var(--red);
}

.yellow-letter:hover {
  color: var(--yellow);
}

.green-letter:hover {
  color: var(--green);
}

.blue-letter:hover {
  color: var(--blue);
}

.purple-letter:hover {
  color: var(--purple);
}

.nav {
  margin: 0;
  width: 100%;
  height: 3rem;
  background: var(--medium-gray);
}

.nav-list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  font-size: 1.1em;
  color: rgb(84, 84, 145);
  box-shadow: var(--shadow);
  width: 8em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background: white;
  margin: 0 1em;
}

.nav-link {
  text-decoration: none;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  position: relative;
}

.button {
  background-color: var(--medium-gray);
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: red;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}