.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.scores {
  margin-top: 2em;
}

.score-header {
  text-transform: uppercase;
  margin-top: 1em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.level-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.score-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
