.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.stats-heading {
  padding-top: 1em;
}
/* 
.scores {
  margin-top: 2em;
} */

.score-header {
  text-transform: uppercase;
  margin-top: 1em;
}

.score-table-header {
  width: 35vh;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.level-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.level-link, .level-total {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.score-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboard-header-name {
  width: 35vh;
}

.leaderboard-header-score {
  width: 35vh;
}